body {
    font-family: 'Press Start 2P', cursive;
    background-color: #A3806C;
}
.bookshelf-container {
    padding-top: 15vh;
}
.comedy-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}
.content{
    margin-left: 4vw;
}


