body {
    font-family: 'Press Start 2P', cursive;
    background-color: #A3806C; /* Твій новий колір фону */
}

.comedy-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}


