body {
    font-family: 'Press Start 2P', cursive;
    background-color: #A3806C;
}

.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.bookshelf-container {
    padding-top: 15vh;
}
.content{
    margin-left: 4vw;
}
