.profile-page {
    display: flex;
    height: 100vh;
    background-color: #d1a38b;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.profile-header {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.profile-icon {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 4vw; /* Adds space on the left to shift it right */
    margin-right: 20px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    font-size: 3vw;
    font-family: 'Press Start 2P', cursive;
    color: #6f4d34;
}

.main-content {
    display: flex;
    align-items: flex-start;
    padding: 0 20px;
    flex-grow: 1;
}

.bookshelf {
    width: 60vw;
    height: 50vh;
    margin-top: 20px;
}

.Right-panel {
    width: 20vw;
    height: 50vh;
    margin-top: 20px;
}
