.right-panel-scroll {
    background-image: url('../assets/images/scroll-background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 15vw;
    height: 60vh; /* Зменшено до 60vh */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Вирівнюємо вгору */
    margin-top: 30vh;

}

.icon-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 0;
    margin: 0;
}

.icon-item {
    margin-top: 5vh;
    margin-right: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-image {
    width: 3vw; 
    cursor: pointer;
    padding: 0;
}
